.footer {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-logo {
    text-decoration: none;
    color: #326a99;
}
.footer p {
    color: #326a99;
}
.footer i{
    color: #326a99;
    font-size: 30px;
}