/* Header */
.header a {
  float: left;
  color: #326a99;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
a:nth-child(3) {margin-right: 40px;}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #ffffff;
  padding: 20px 10px;
  z-index: 1000;
}

.header-right {
  float: right;
}
.logo {
    font-size: 50px;
}
.header a:hover {
  background-color: #82b0d6;
  color: #326a99;
  transition: background-color 0.2s ease;
}
.line {
    border-top: 10px solid #9bbcd7;
}